---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import Features from '~/components/widgets/Features.astro';
import Content from '~/components/widgets/Content.astro';
import Features2 from '~/components/widgets/Features2.astro';

const metadata = {
  title: 'DECA Conveyor Solutions — Experts in Conveyor Installation, Repair, and Maintenance',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Contact Us',
        href: '#contact',
        icon: 'tabler:phone',
      },
      { text: 'Learn more', href: '#features' },
    ]}
    image={{ src: '~/assets/images/hero-image.png', alt: 'AstroWind Hero Image' }}
  >
    <Fragment slot="title">
      Welcome to <span class="text-orange-400"> DECA</span>
    </Fragment>

    <Fragment slot="subtitle">
      <span class="block mb-1 font-bold text-orange-400">Experts in Conveyor Installation, Repair, and Maintenance</span
      >
      We keep your business moving! Specializing in conveyor systems, we provide top-tier installation, repair, and maintenance
      services to ensure your operations run smoothly and efficiently.
    </Fragment>
  </Hero>

  <!-- Features Widget *************** -->

  <Features
    id="features"
    tagline=""
    title="Get Ready to Get Stuff Moving!"
    subtitle="Whether you need a brand-new conveyor system installed or an existing one repaired or maintained, our team of experienced technicians has you covered. We pride ourselves on quick response times, reliable solutions, and a commitment to minimizing downtime."
    items={[
      {
        title: 'Reliable Expertise',
        description:
          'Our team is composed of certified professionals with years of experience in conveyor system maintenance.',
        icon: 'tabler:bulb',
      },
      {
        title: 'Customized Maintenance Plans',
        description: 'Tailored solutions to meet your unique operational requirements and budget.',
        icon: 'tabler:adjustments',
      },
      {
        title: 'Safety First Approach',
        description:
          'We prioritize safety in every project, ensuring compliance with all industry standards and regulations.',
        icon: 'tabler:list-check',
      },
      {
        title: 'Proven Track Record',
        description: 'A history of successful projects with satisfied clients across multiple industries.',
        icon: 'tabler:circle-dashed-check',
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    id="content"
    isReversed
    tagline=""
    title=""
    items={[
      {
        title: 'Integrity',
        description: 'We believe in transparent, honest communication and always delivering on our promises.',
      },
      {
        title: 'Excellence',
        description:
          'Quality is at the heart of everything we do. We are committed to providing services that not only meet but exceed industry standards.',
      },
      {
        title: 'Customer Focus',
        description:
          'Our clients are at the core of our business. We work closely with them to understand their unique needs and tailor our services accordingly.',
      },
      {
        title: 'Reliability and innovation',
        description:
          'Downtime costs you time and money, which is why we are dedicated to prompt service and long-lasting solutions, to constantly evolving, leveraging the latest technology and practices to stay ahead in the industry.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Our Mission</h3>
      At DECA, we deliver exceptional conveyor system solutions to drive efficiency and reliability while minimizing downtime.
      With innovation, precision, and dedicated service, we strive to exceed expectations and be the trusted partner for
      businesses relying on conveyor systems.
    </Fragment>
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>
  <Features2
    id="contact"
    title="Contact Us"
    tagline=""
    columns={2}
    items={[
      {
        title: 'Angel de Leon CEO',
        description: '(956) 342-3137',
        icon: 'tabler:user',
      },
      {
        title: 'Mailing Address',
        description: 'P.O. Box 802N 78540 Edinburg, TX',
        icon: 'tabler:map-pin',
      },
      {
        title: 'Email Address',
        description: 'office@decaconveyorsolutions.com',
        icon: 'tabler:at',
      },
    ]}
  />
</Layout>
