---

---

<span
  class="self-center ml-3 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white"
>
<img class="h-fit w-1/2 md:w-4/5" src="/400x150logo.png" />
</span>
